@use '../../scss' as *;

.button {
    font-family: inherit;
    outline: none;
    cursor: pointer;
    padding: 1em 1.25em;
    font-weight: 500;
    border-style: solid;
    border-width: 1px;
    @include theme("border-color", "border");
    background: none;
    @include theme("color", "txt");
    transition: all 0.25s;
    transition-property: border-color, background-color;

    &:hover {
        @include theme("border-color", "acc");
        @include theme("background-color", "acc");
    }
}