@use '../../scss' as *;

.home {
    padding: 1rem;
    @include theme('background', 'bck');
    @include theme('color', 'txt');

    .home__container {
        > * {
            margin-block-end: 7.5rem;
        }
    }

    @include mq(sm) {
        padding-inline: 2rem;
    }

    @include mq(md) {
        padding-inline: 4rem;

        .home__container {
            > * {
                margin-block-end: 7.5rem;
            }
        }
    }

    @include mq(lg) {
        padding: 2rem 8rem;

        .home__container {
            > * {
                margin-block-end: 10rem;
            }
        }
    }

    .msg {
        margin-block-start: 4rem;
        position: relative;
        margin-inline-start: 2.5rem;

        @include mq(md) {
            width: 45%;
        }

        @include mq(lg) {
            width: 35%;
        }

        .msg__vertical {
            position: absolute;
            left: -4.75em;
            bottom: 3.6em;
            transform: rotate(270deg);
            font-size: 1.9rem;
            font-size: clamp(1.8rem, 4vw, 1.95rem);
            font-weight: 800;
            text-transform: uppercase;
            // letter-spacing: 0.025em;
        }
        
        .msg__greeting {
            font-family: 'roboto mono';
            font-weight: 600;
        }

        .msg__name {
            font-weight: 700;
        }

        .msg__socials {
            margin-block: 1rem;

            img {
                width: clamp(2.25rem, 6vw, 2.5rem);
                margin-inline-end: 0.5rem;
                cursor: pointer;
            }
        
        }

        .msg__brief {
            width: 75%;
            letter-spacing: 0.015em;

            @include mq(md) {
                width: 100%;
            }

        }

    }

    .home__works {

        h3 {
            letter-spacing: 0.1em;
            opacity: 0.9;
            text-transform: uppercase;
            margin-block-end: 1rem;
            cursor: pointer;
            margin-block-end: 2rem;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            border-width: 1px 0;
            border-style: solid;
            @include theme('border-color', 'txt');
        
            li {
                padding: 2rem 0;
                text-transform: capitalize;

                &:not(:last-child) {
                    border-width: 0 0 1px 0;
                    border-style: solid;
                    @include theme('border-color', 'txt');
                }

                div:hover {
                    cursor: pointer;
                    @include theme("color", "acc");
                }
            }
        }

        .btn {
            display: block;
            width: fit-content;
            margin: 2rem auto 0;

            @include mq(md) {
                margin-block-start: 4rem;
            }

        }
    
    }

    .contact {
        width: fit-content;
        margin: 0 auto 5rem;

        h3 {
            font-weight: 500;
            margin-block-end: 2rem;
        }

        .contact__email {
            display: block;
            width: fit-content;
            font-weight: 500;
            margin-block-end: 2rem;
            @extend %hoverBorderAnimation;
        }

    }

}