@use '../../scss' as *;

.box {

    .box__img {
        position: relative;

        .img {
            width: 100%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .hover {
            position: absolute;
            inset: 0;
            background-color: #00000040;
            display: flex;
            flex-flow: column;
            gap: 1rem;
            align-items: center;
            justify-content: center;
            opacity: 0;

            .hover__item {
                text-decoration: none;
                cursor: pointer;
                background-color: #00000040;
                // color: #fff;
                @include theme("color", "acc");
                width: clamp(2.5rem ,10vw, 3.5rem);
                height: clamp(2.5rem ,10vw, 3.5rem);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

            }

        }

    }

    .box__text {
        margin-block: 2rem;
        display: flex;
        flex-flow: column;
        gap: 0.75rem;
    }

    .box__name {
        text-transform: capitalize;
        font-weight: 400;
        // letter-spacing: 0.05em;
        margin-block-start: 0.25rem;
    }

    .box__desc {
        opacity: 0.9;
        letter-spacing: 0.015em;
    }

    .box__stack {
        margin-block-start: 0.5rem;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        @include mq(lg) {
            // gap: 1rem;
        }

        li {
            padding: 0.5em 1em;
            letter-spacing: 0.035em;
            text-transform: uppercase;
            font-weight: 500;
            border-radius: 2rem;
            border-width: 1px;
            border-style: solid;
            @include theme("border-color", "border");
            @include theme("color", "txt");
            // @include theme("background-color", "bck-op");
        }
    
    }

}