@use '../../scss' as *;

.about {
    padding: 2rem 1rem;
    @include theme('background', 'bck');
    @include theme('color', 'txt');

    @include mq(sm) {
        padding: 2.5rem 2rem;
    }

    @include mq(md) {
        padding: 3rem 4rem;
    }

    @include mq(lg) {
        padding: 4rem 8rem;
    }

    .about__title {
        margin-block-end: 1.5em;
    }

    .about__subtitle {
        font-weight: 700;
    }

    section {
        display: flex;
        flex-flow: column;
        gap: 1rem;
        margin-block-end: 5rem;

        @include mq(lg) {
            flex-flow: row;
            margin-block-end: 7.5rem;
        
            > *:first-child {
                width: 20%;
            }

            > *:last-child {
                width: 80%;
            }

        }

        @include mq(xl) {
            
            > *:last-child {
                width: 60%;
            }

        }

    }

    .about__img {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;

        @include mq(md) {
            gap: 3rem;
        }

        @include mq(lg) {
            gap: 4rem;
        }

        img {
            width: clamp(3rem, 8vw, 4.5rem);
            cursor: pointer;
        }

    }

    .about__cv {
        font-weight: 500;
        margin-block-end: 2.5rem;

        a {
            font-weight: 700;
            cursor: pointer;
            margin-inline: 0.25em 0.1rem;

            &:hover {
                text-decoration: underline;
            }

        }
    }
    
}