$themes: (
    light: (
        bck: #fff,
        bck-op: #0000001a,
        border: #808080,
        border2: #e4e3e3,
        txt: #000,
        acc: #bc2a35,
    ),
    dark: (
        bck: #1a1c1d,
        bck-op: #ffffff1a,
        border: #808080,
        border2: #222527,
        txt: #fff,
        acc: #bc2a35,
    )
);